@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.google.com/specimen/Merriweather+Sans');
@import url('https://fonts.google.com/specimen/Inknut+Antiqua?query=Inknut+Antiqua');

body{
    background-color: #F3EDDF;
}
header {
    background-color: #0C1E33; 
    text-align: center;
    display: flex; 
    justify-content:center;
    padding:25px;
   }
/*Mobile*/
@media (max-width: 768px) {
.cabecalho{
   
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: auto;
}
.header-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  position: relative;
  height: 120px; 
}
.uk-navbar-container-mobile {
     position: absolute; 
     top: 0;
     left: 0;
     width: 100%;
     background-color:#0C1E33 !important;
     padding-bottom: 20px !important;
     max-width:170px;
}
.logo {
  display: block;
  max-width: 33%; 
  margin-top: 12px; 
}
.uk-navbar-dropdown{
    background-color:#0C1E33 !important;
    padding-left:70px;
    padding-top:0px;
    padding-bottom:5px;
    
}
.uk-active a {
    color: white !important;
    font-family: "Inknut Antiqua",serif;
    font-size: 17px;
}
.uk-navbar-container-desktop{
  visibility: hidden;
}
.principeCruel,.EueEsseMeuCoracao,.habitosAtomicos,.GarotosdoCemiterio{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.livros{
    max-width: 180px;
    max-height: 270px;
  }
.mapa1 { 
  width: 600px; 
  height: 350px; 
  border: 4px solid #06121F; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.mapa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
 }
 .patrocinio{
  align-items: center;
 }
 .patrocinadores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 800px;
 }
 .empresa{
  max-width:50px;
  max-height:130px ;
 }
.titulos{
  font-family: "Cinzel Decorative", serif;
  color:#0C1E33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.subtitulos{
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 30;
}
.paragrafo{
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 18px;
}
.tres{
    font-family: Inknut Antiqua;
    color: white;
    font-size: 20px;
}
.cinco{
font-family: Inknut Antiqua;
    color: white;
    font-size: 13px;
}
i{
  font-family: Inknut Antiqua;
  font-size: 30px;
  color: white;
}
.Logoatlas{
  width:60px;
  height:95px;
}
}
/*Desktop*/
@media (min-width: 768px) {
.uk-navbar-container-mobile{
  visibility: hidden;
  width: 0px;
}
.cabecalho{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 350px;
}
.header-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  
} 
.logo {
  display: block;
  max-width: 50%; 
  margin-top: 10px; 
}
.atual{
  font-family:"Inknut Antiqua",serif !important;
  text-transform: none !important;
  color: white!important;
  font-size: 22px !important;
}
.outras{
   font-family:"Inknut Antiqua",serif !important;
  text-transform: none !important;
  font-size: 22px !important;
}
.centralizarNav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.primeiralinha,.segundalinha{
    display:flex;
}
.principeCruel,.EueEsseMeuCoracao,.habitosAtomicos,.GarotosdoCemiterio{
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.livros{
    max-width: 270px;
    max-height: 400px;
  }
.mapa1 { 
  width: 700px; 
  height: 500px; 
  border: 4px solid #06121F; 
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.mapa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
 }
  .patrocinio{
  align-items: center;
 }
 .patrocinadores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
 }
 .empresa{
  max-width:270px;
  max-height:130px ;
 }
.titulos{
  font-family: "Cinzel Decorative", serif;
  color:#0C1E33;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding: 10px;
}
.subtitulos{
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 30;
}
.paragrafo {
    font-family: Merriweather Sans, sans-serif;
    color: #0C1E33;
    font-size: 18px;
}
.tres{
    font-family: Inknut Antiqua;
    color: white;
    font-size: 20px;
}
.cinco{
    font-family: Inknut Antiqua;
    color: white;
    font-size: 13px;
}
i{
  font-family: Inknut Antiqua;
  font-size: 25px;
  color: white;
}
.Logoatlas{
  width:70px;
  height:110px;
}
}
/*Footer*/
.minerva{
  background-color: #0C1E33;
  text-align: center;
  padding-top: 20px;
  
}
.minerva a {
  color: white; 
  text-decoration: none; 
  display:block; 
  transition: transform 0.3s ease; 
}
.minerva a:hover {
  transform: scale(1.1); 
}
.redesSociais {
  text-align: center;
  padding-bottom: 20px;
}
.redesSociais a:hover {
  transform: scale(1.1); 
}
.icones {
  display: flex;          
  justify-content: center; 
  gap: 20px;
  margin-top: 10px;
}

.icones a {
  font-size: 30px;        
  color: white;            
  text-decoration: none;
}
.Atlas{
  background-color: #06121F;
  text-align: center;
  padding: 20px;
}
/*até aqui é igual para todos!*/
.carrossel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.carrossel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px; 
  margin: auto;
  position: relative;
  overflow: hidden; 
 
}

.imagens {
  display: flex;
  transition: transform 0.5s ease-in-out; 
  
}

.imagens img {
  width: 100%;
  height: auto;
  flex-shrink: 0; 
  margin: 15px;
  border-radius:3%;
}
button {
  max-height: 60px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color:#F3EDDF;
  color: #0C1E33;
  border: none;
  padding: 2px;
  cursor: pointer;
  font-size: 35px;
  z-index: 10;
}
.botao{
  max-width:400px ;
  display: flex;
  justify-content: space-around;
}
